executor {
  $local {
      cpus = 16
      memory = '128 GB'
  }
}

params.primers = "$PWD/Salmonella-reformatted-primers-list-psearch.txt"
params.multiqc_config = "multiqc_config.yaml"

//OH correlated data
params.hmas_indir_stool = "/scicomp/groups-pure/OID/NCEZID/DFWED/EDLB/projects/CIMS/HMAS_pilot/prod/sm_outputs/"
params.hmas_indir_isolate = "/scicomp/groups-pure/OID/NCEZID/DFWED/EDLB/projects/CIMS/HMAS_pilot/prod/sm_outputs/"
params.wgs_reads = "/scicomp/groups/OID/NCEZID/DFWED/EDLB/projects/CIMS/HMAS_pilot/isolate_WGS/"
params.mapping = "$PWD/tripod_oh_correlated_test2.csv"
//params.mapping = "$PWD/tripod_enriched_correlated_full.csv"

params.outdir = "OH_correlated_test"
//params.outdir = "enriched_test"
