// Default local CPU/memory settings. Adjust as needed.
// Comment out the whole block if you want to use all available resources
executor {
  $local {
      cpus = 16
      memory = '128 GB'
  }
}

//HMAS step_mothur pipeline output folder
//one for the stool samples and another for the isolate samples
params.hmas_indir_stool = "/scicomp/groups/OID/NCEZID/DFWED/EDLB/projects/CIMS/HMAS_pilot/stool_HMAS/MN_M05688_240322-413314107/MN_M05688_240322-413314107_v1.2.1_20240908_131907"
params.hmas_indir_isolate = "/scicomp/groups/OID/NCEZID/DFWED/EDLB/projects/CIMS/HMAS_pilot/isolate_HMAS/MN_M05688_240618-422066253/MN_M05688_240618_v1.2.1_20240906_163532"

//look-up table between sample name and all possible WGS isolates in the sample
//one for the stool samples and another for the isolate samples
// params.mapping_stool = "$PWD/MN_M05688_240618-422066253_sample_isolates_mapping.csv"
// params.mapping_isolate = "$PWD/MN_M05688_240618-422066253_sample_isolates_IS_mapping.csv"
params.mapping_stool = "$PWD/MN_M05688_240618_run5_sample_isolates_mapping.csv"
params.mapping_isolate = "$PWD/MN_M05688_240618_run5_sample_isolates_IS_mapping.csv"

//list of good sample names (usually defined as with mean read depth over 30 AND
//% of successful primer pairs is over 90% for the stool samples)
//one for the stool samples and another for the matching isolate samples 
params.good_sample_list_stool = "/scicomp/groups/OID/NCEZID/DFWED/EDLB/projects/CIMS/HMAS_pilot/stool_HMAS/MN_M05688_240322-413314107/MN_M05688_240322-413314107_v1.2.1_20240908_131907/MN_M05688_240322-413314107_good_samples.csv"
params.good_sample_list_isolate = "/scicomp/groups/OID/NCEZID/DFWED/EDLB/projects/CIMS/HMAS_pilot/isolate_HMAS/MN_M05688_240618-422066253/MN_M05688_240618_v1.2.1_20240906_163532/MN_M05688_240322-413314107_good_samples_IH.csv"

//wgs reads file
params.wgs_reads = "scicomp/groups/OID/NCEZID/DFWED/EDLB/projects/CIMS/HMAS_pilot/isolate_WGS/PN_Only_Metadata_HMASpilot_Run3_MN_M05688_240322"

// primer file used for primersearch
params.primers = "~/HMAS_QC_Pipeline/Salmonella-reformatted-primers-list-psearch.txt"

// MultiQc config file
params.multiqc_config = "multiqc_config.yaml"

//output directory
params.outdir = "MN_M05688_240618-422066253"

//ALL of the required params are listed above, and if they're all provided in this config file
//you can then run the pipeline by: nextflow run tripod.nf 
//or you can override any of those params in the command line
//nextflow run tripod.nf --wgs_reads /scicomp/groups/OID/NCEZID/DFWED/EDLB/projects/CIMS/HMAS_pilot/isolate_WGS/PN_Only_Metadata_HMASpilot_Run3_MN_M05688_240322 --primers ~/HMAS_QC_Pipeline/Salmonella-reformatted-primers-list-psearch.txt --outdir MN_M05688_240618-422066253 --multiqc_config multiqc_config.yaml
//nextflow run tripod.nf --wgs_reads /scicomp/groups/OID/NCEZID/DFWED/EDLB/projects/CIMS/HMAS_pilot/isolate_WGS/PN_Only_Metadata_HMASpilot_Run5_MN_M05688_240618 --primers ~/HMAS_QC_Pipeline/Salmonella-reformatted-primers-list-psearch.txt --outdir MN_M05688_240618-422066253-run5 --multiqc_config multiqc_config.yaml