// //# provide here the path for these 3 required parameters
// // for example: params.reads = "$PWD/test_data" or put in absoluate path
// params.reads = null
// params.outdir = null
// params.primer = null

// //# Basic CPU usage grouping
// params.maxcpus = 8
// params.medcpus = 4
// params.mincpus = 2

// //# Basic memory usage grouping
// params.maxmems = 16.GB
// params.medmems = 2.GB

// //# set the max tasks (running in parallel) for cutadapt process
// params.maxcutadapts = 4 
// params.cutadapt_thread = 4 //num of threads for each cutadapt command
// /* for the above setting to work fully, you will need 16 cores (more or less), adjust your 
// setting accordingly */
// params.cutadapt_maxerror = 0 //require exact matching
// params.cutadapt_minlength = 1 //delete empty sequences after primer removal
// params.cutadapt_long = true //flag if reads can be longer than amplicons; set to false if not
// // check the link below for details
// //https://cutadapt.readthedocs.io/en/stable/recipes.html#trimming-amplicon-primers-from-paired-end-reads


// //# default parameters for pair_merging
// //# we recommend using these default setting unless you're strongly advised otherwise
// params.merging_minquality = 26
// params.merging_maxlength = 325
// params.merging_minoverlap = 20

// //# default parameters for denoising
// //minsize is the minimum frequency required for a read
// //the alpha parameter determines the threshold level of dissimilarity between 
// //frequent and infrequent reads for exclusion of infrequent reads, for more information, refer to the link
// //https://www.drive5.com/usearch/manual/cmd_unoise3.html
// params.denoising_minsize = 2
// params.denoising_alpha = 4

// // MultiQC report related config files
// params.multiqc_config = "$PWD/bin/multiqc_config.yaml"
// params.custom_logo = "$PWD/bin/step_mothur_logo.png"

// profiles {

//     test {
//         params.outdir = "$PWD/test_output"
//         params.reads = "$PWD/test_data"
//         params.primer = "$PWD/test_data/451_subset_primer_pairs"
//     }

// }

// Default local CPU/memory settings. Adjust as needed.
// Comment out the whole block if you want to use all available resources
executor {
  $local {
      cpus = 32
      memory = '128 GB'
  }
}

//HMAS step_mothur pipeline output folder
//one for the stool samples and another for the isolate samples
params.hmas_indir_stool = "/scicomp/groups/OID/NCEZID/DFWED/EDLB/projects/CIMS/HMAS_pilot/stool_HMAS/MN_M05688_240322-413314107/MN_M05688_240322-413314107_v1.2.1_20240908_131907"
params.hmas_indir_isolate = "/scicomp/groups/OID/NCEZID/DFWED/EDLB/projects/CIMS/HMAS_pilot/isolate_HMAS/MN_M05688_240618-422066253/MN_M05688_240618_v1.2.1_20240906_163532"

//look-up table between sample name and all possible WGS isolates in the sample
//one for the stool samples and another for the isolate samples
// params.mapping_stool = "$PWD/MN_M05688_240618-422066253_sample_isolates_mapping.csv"
// params.mapping_isolate = "$PWD/MN_M05688_240618-422066253_sample_isolates_IS_mapping.csv"
params.mapping_stool = "$PWD/MN_M05688_240618_run5_sample_isolates_mapping.csv"
params.mapping_isolate = "$PWD/MN_M05688_240618_run5_sample_isolates_IS_mapping.csv"

//list of good sample names (usually defined as with mean read depth over 30 AND
//% of successful primer pairs is over 90% for the stool samples)
//one for the stool samples and another for the matching isolate samples 
params.good_sample_list_stool = "/scicomp/groups/OID/NCEZID/DFWED/EDLB/projects/CIMS/HMAS_pilot/stool_HMAS/MN_M05688_240322-413314107/MN_M05688_240322-413314107_v1.2.1_20240908_131907/MN_M05688_240322-413314107_good_samples.csv"
params.good_sample_list_isolate = "/scicomp/groups/OID/NCEZID/DFWED/EDLB/projects/CIMS/HMAS_pilot/isolate_HMAS/MN_M05688_240618-422066253/MN_M05688_240618_v1.2.1_20240906_163532/MN_M05688_240322-413314107_good_samples_IH.csv"

//nextflow run tripod.nf --wgs_reads /scicomp/groups/OID/NCEZID/DFWED/EDLB/projects/CIMS/HMAS_pilot/isolate_WGS/PN_Only_Metadata_HMASpilot_Run3_MN_M05688_240322 --primers ~/HMAS_QC_Pipeline/Salmonella-reformatted-primers-list-psearch.txt --outdir MN_M05688_240618-422066253 --multiqc_config multiqc_config.yaml
//nextflow run tripod.nf --wgs_reads /scicomp/groups/OID/NCEZID/DFWED/EDLB/projects/CIMS/HMAS_pilot/isolate_WGS/PN_Only_Metadata_HMASpilot_Run5_MN_M05688_240618 --primers ~/HMAS_QC_Pipeline/Salmonella-reformatted-primers-list-psearch.txt --outdir MN_M05688_240618-422066253-run5 --multiqc_config multiqc_config.yaml